* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}

.header {
  height: 10vh;
  background-color: rgb(0,127,255);
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  text-align: right;
  letter-spacing: 2px;
}

.logobox {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.logoText {
  margin-left: 10px;
}

.logoTextTop {
  margin: 0;
  font-size: 10px;
}

.logoTextBot {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
}

.logo {
  position: relative;
  margin: 10px;
  width: 6vh;
}

.header-primary {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  right: 0;
  margin: 10px 10px 10px 10px;
}

.heading-primary-main {
  font-size: 20px;
  font-weight: 700;
}

.heading-primary-sub {
  font-size: 30px;
  font-weight: 700;
}

.main {
  background-image: linear-gradient(to right, rgba(2,58,155, 0.7), rgba(2,58,155, 0.7)), url(./back.jpg);
  background-size: cover;
  background-position: top;
  height: 60vh;
  width: 100%;
  position: relative;
}

.mainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  height: 100%;
  width: 100%;
}

.mainTextHead {
  margin-bottom: 10px;
  font-size: 35px;
}

.mainText {
  margin: 0 300px 0 300px;
}

.addTextTable {
  background-color: #0d2330;
  height: 30vh;
}

.addTextRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addTextCol {
  width: 35%;
  height: 100%;
}

.colTextCont {
  margin: 10px 10px 10px 10px;
}

.colHead {
  font-size: 20px;
}

.divColText {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.colText {
  font-size: 17px;
  margin: 0 10px 0 10px;
}

.heading-primary-sub a,
.heading-primary-main a{
  color: #fff;
  margin-left: 20px;
}

.mySlides {display: none}

.imgCont {
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  display: block;
  margin: 10px;
  height: 100%;
}

.text {
  width: 100%;
  position: absolute;
  display: block;
  bottom: 5%;
  text-align: center;
  left: 50%;
  margin-left: -50%;
  /*background-color: black;*/
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background-color: white;
  margin: auto;
  height: 85vh;
}

.slideshow-container a{
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  float: left;
  height: 100%;
  padding: 16px;
  color: gray;
  background-color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: relative;
  float: right;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dotCont {
  width: 400px;
  position: fixed;
  bottom: 0px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

    /* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
*/

.headButtons:hover {
  text-shadow: #fff 0 0 15px;
}

.activityList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  height: 100%;
  width: 100%;
}

.ALCont:hover {
  transform: translateY(-4px);
  text-shadow: #fff 0 0 15px;
}

.ALCont:active {
  transform: translateY(-1px);
}

.ALCont {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #0d2330;
  margin: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 70px;
}

.ALBlock {
  margin: 50px;
  font-size: 17px;
}















@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 1230px) {
  .mainText {
    margin: 0 50px 0 50px;
    font-size: 25px;
  }

  .mainTextHead {
    margin: 10px auto 10px auto;
  }
}
